# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Env
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
*.log
backend_debug.log
backend_error.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime contents
uploads/
backend/app/uploads/

# OS
.DS_Store
Thumbs.db
